header {
    height: 60px;
    background-color: #2d2d2d;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
    nav {
      & ul {
        display: flex;
        flex-direction: row;
  
        & li {
          list-style: none;
          padding-right: 20px;
  
          & a {
            color: #fff;
          }
        }
      }
    }
  }
  
  footer {
    height: 60px;
    background-color: #2d2d2d;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .content {
    display: flex;
    flex-direction: column;
    /* total screen less header and footer */
    min-height: calc(100vh - 120px);
    padding: 50px;
  }